<!--
<mat-card>
  <mat-card-content>
    <mat-card-title>Participacion por Tipo de Actividad</mat-card-title>
    <mat-card-subtitle>Distribucion de paquetes</mat-card-subtitle>

    <div class="piechart">
      <apx-chart
        *ngIf="datosCargados"
        [series]="actividadChartOptions.series!"
        [chart]="actividadChartOptions.chart!"
        [labels]="actividadChartOptions.labels!"
        [responsive]="actividadChartOptions.responsive!"
        [tooltip]="actividadChartOptions.tooltip!"
        [legend]="actividadChartOptions.legend!"
        [colors]="actividadChartOptions.colors!"
        [dataLabels]="actividadChartOptions.dataLabels!"
        [plotOptions]="actividadChartOptions.plotOptions!"
        [stroke]="actividadChartOptions.stroke!">
      </apx-chart>
    </div>
  </mat-card-content>
</mat-card>
-->
