<!-- Section: Design Block -->
<section class="vh-100 d-flex justify-content-center align-items-center" style="background-color: #f5f5f5;">
  <style>
    .rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    @media (min-width: 992px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 0;
      }

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
    }
  </style>

  <div class="container">
    <div class="card mb-3 shadow">
      <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-6 d-none d-lg-block">
          <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
               class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
        </div>
        <div class="col-lg-6">
          <div class="card-body py-5 px-md-5">

            <h3 class="mb-5 text-center">Iniciar sesión</h3>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="text" class="form-control" id="form2Example1" formControlName="user" />
                <label class="form-label" for="form2Example1">Email address</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" class="form-control" id="form2Example2" formControlName="clave" />
                <label class="form-label" for="form2Example2">Password</label>
              </div>

              <!-- 2 column grid layout -->
              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                  </div>
                </div>

                <div class="col text-end">
                  <a href="#!">Forgot password?</a>
                </div>
              </div>

              <!-- Submit button -->
              <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="loginForm.invalid">
                  Sign in
                </button>


                <div class="text-center">
                  <span>¿No tienes cuenta?</span>
                  <a routerLink="/register" class="text-primary ms-2">Regístrate aquí</a>
                </div>

              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
