<!-- Section: Design Block -->
<section class="vh-100 d-flex justify-content-center align-items-center" style="background-color: #000000;">
  <div class="container">
    <div class="card mb-3 border-0" style="border-radius: 20px; overflow: hidden;">
      <div class="row g-0 d-flex align-items-center">
        <!-- LOGO -->
        <div class="col-lg-6 d-none d-lg-block text-center p-4 bg-black">
          <img src="assets/images/logo/logo2.png" alt="Logo" class="img-fluid" style="max-width: 100%; height: auto;" />
        </div>

        <!-- FORMULARIO -->
        <div class="col-lg-6 bg-white">
          <div class="card-body px-5 py-4">

            <h3 class="mb-4 text-center fw-bold">Iniciar sesión</h3>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

              <!-- Email input -->
              <div class="form-floating mb-4">
                <input type="email" class="form-control rounded-3" id="floatingEmail" placeholder="correo@dominio.com" formControlName="email">
                <label for="floatingEmail">Email address</label>
              </div>

              <!-- Password input -->
              <div class="form-floating mb-4">
                <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Contraseña" formControlName="clave">
                <label for="floatingPassword">Password</label>
              </div>

              <!-- Checkbox & link -->
              <div class="row mb-3">
                <div class="col-6 d-flex align-items-center">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="rememberMe">
                    <label class="form-check-label small" for="rememberMe">Remember me</label>
                  </div>
                </div>
                <div class="col-6 text-end">
                  <a href="#!" class="small text-decoration-none text-muted">Forgot password?</a>
                </div>
              </div>

              <!-- Submit button -->
              <div class="d-grid mb-4">
                <button type="submit" class="btn btn-primary btn-lg rounded-3 shadow-sm" [disabled]="loginForm.invalid">
                  Sign in
                </button>
              </div>

              <!-- Registro -->
              <div class="text-center">
                <span class="small text-muted">¿No tienes cuenta?</span>
                <a routerLink="/register" class="text-primary fw-semibold ms-2 small">Regístrate aquí</a>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
