<mat-card>
  <mat-card-content>
    <div class="d-flex flex-wrap justify-between items-center mb-3">
      <div>
        <mat-card-title>Resumen de Paquetes</mat-card-title>
        <mat-card-subtitle>Cantidad de paquetes por mes</mat-card-subtitle>
      </div>

      <!-- Selector de Año Compacto -->
      <mat-form-field appearance="outline" class="year-selector">
        <mat-label>Seleccionar Ano</mat-label>
        <mat-select [(value)]="anoSeleccionado" (selectionChange)="cargarDatosPaquetes()">
          <mat-option *ngFor="let ano of anosDisponibles" [value]="ano">{{ ano }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Gráfico -->
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [legend]="chartOptions.legend"
      [fill]="chartOptions.fill"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [xaxis]="chartOptions.xaxis"
      [grid]="chartOptions.grid">
    </apx-chart>
  </mat-card-content>
</mat-card>
