<mat-card>
  <mat-card-title>Reseñas de Paquetes</mat-card-title>
  <mat-table [dataSource]="resenas" class="mat-elevation-z8">

    <ng-container matColumnDef="usuario">
      <mat-header-cell *matHeaderCellDef> Usuario </mat-header-cell>
      <mat-cell *matCellDef="let resena"> {{ resena.usuario.nombre }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="paquete">
      <mat-header-cell *matHeaderCellDef> Paquete </mat-header-cell>
      <mat-cell *matCellDef="let resena"> {{ resena.paquete.nombre }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="comentario">
      <mat-header-cell *matHeaderCellDef> Comentario </mat-header-cell>
      <mat-cell *matCellDef="let resena"> {{ resena.comentario }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let resena"> {{ resena.fecha | date }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let resena">
        <button mat-icon-button color="warn" (click)="eliminarResena(resena.idResena)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>
