<mat-card>
  <div class="p-20 bg-info position-relative">
    <h4 class="card-title text-white m-0">Gestión de Proveedores</h4>
    <h6 class="card-subtitle text-white m-0 op-5">Administra los proveedores aquí</h6>
    <button mat-mini-fab color="accent" class="add-contact" (click)="openDialog()">+</button>
  </div>

  <div class="message-box contact-box p-20">
    <div class="message-widget contact-widget">
      <div class="contact-item d-flex justify-content-between align-items-center"
           *ngFor="let contact of contactsData">

        <div class="mail-contnet">
          <h5>{{ contact.nombreCompleto }}</h5>
          <span class="mail-desc">{{ contact.email }}</span><br />
          <small>{{ contact.telefono }}</small>
        </div>

        <div class="d-flex gap-2">
          <button mat-icon-button color="accent" (click)="openDialog(contact)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="eliminar(contact.idProveedor)">
            <mat-icon>close</mat-icon>
          </button>
        </div>

      </div>
    </div>
  </div>
</mat-card>
